body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.fixed-header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.fixed-header h1,
.fixed-header p {
    margin: 0;
}

section {
    padding: 80px 0; /* Adjusted padding to accommodate fixed header */
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

article {
    margin-bottom: 20px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
